@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
}

.title {
    padding: 1rem;
    background-color: #e8dff8;
    font-family: 'Lobster', sans-serif;
    font-size: 5rem;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 100px;
}


#widgetsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1.5rem;
    background: #e8dff8;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.chartDiv {
    width: 100%;
    height: 25rem;
    background: rgb(255, 255, 255);
    box-sizing: content-box;
    border-radius: 10px;
}

.select {
    padding: .5rem;
    font-size: 1rem;
    background-color: #7b38D8;
    border: 2px solid #7b38D8;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.select:hover {
    background: white;
    color: #7b38D8;
    transition: 200ms;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
}

.row {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.last {
    height: 45rem;
    max-width: 50rem;
}

@media (max-width: 50rem) {
    .last {
        height: 24.5rem;
    }
    .row {
        flex-direction: column;
    }
}